automaten_tafelanschriebe.aux
automaten_tafelanschriebe.log
automaten_tafelanschriebe.out
automaten_tafelanschriebe.pdf
automaten_tafelanschriebe.synctex.gz
automaten_tafelanschriebe.toc
automaten_tafelanschriebe.bbl
automaten_tafelanschriebe.blg
